@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 228, 229, 230;
    --background-start-rgb: 10, 14, 23;
    --background-end-rgb: 10, 14, 23;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.hover-trigger .hover-target {
    display: none;
}

.hover-trigger:hover .hover-target {
    display: block;
}

.dot::before {
    content: '';
    position: absolute;
    background-color: currentColor;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 4px;
    height: 4px;
    border-radius: 100%;
}
